:root {
  background-image: url("/pixelcasino3.png");
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: rgb(0, 0, 255);
  border-radius: 1rem;
  border: 5px dotted yellow;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* GLOBAL CSS */

#user {
  display: flex;
  flex-direction: column;
}

#display {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: xx-large;
}

#history {
  overflow: auto;
  height: 5rem;
  width: 80%;
  margin: 1rem auto;
  border-radius: 5px;
  border: 5px groove rgb(121, 199, 255);
  background-color: black;
  text-align: center;
  justify-content: center;
}

.tablerow {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: auto;
  background-color: rgb(0, 0, 0);
}

.tablehistory {
  border: 1px solid rgba(245, 245, 245, 0.2);
  width: 25%;
  text-align: center;
  overflow: auto;
  font-size: 8px;
}

.gain {
  color: greenyellow;
}

.loss {
  color: rgb(255, 102, 102);
}

#play {
  padding: 0.6em 1.2em;
  color: black;
  background: -webkit-linear-gradient(lime, rgb(227, 255, 227));
}

#play:active {
  background: -webkit-linear-gradient(rgb(255, 80, 80), rgb(255, 232, 130));
}

input[type="number"] {
  font-family: "Press Start 2P", cursive;
  border-radius: 5px;
  padding: 0.8rem;
  border: 2px solid yellow;
}

h2 {
  color: yellow;
  background: -webkit-linear-gradient(rgb(255, 44, 86), rgb(255, 238, 108));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4 {
  color: yellow;
}

button:hover {
  transform: scale(1.2);
}

button:active {
  transform: scale(1.4);
  background: -webkit-linear-gradient(rgb(255, 44, 185), rgb(255, 238, 108));
}

.percent {
  color: black;
  background: -webkit-linear-gradient(lime, rgb(227, 255, 227));
}

#reset {
  color: black;
  background: -webkit-linear-gradient(rgb(255, 44, 86), rgb(255, 238, 108));
}

.placeholder {
  font-size: 12px;
}
